# wine prefix folder
.wine_prefix

# symlink to my windows partition for better testing on windows
windows-dir

# not everyone likes tabs over spaces
rustfmt.toml

# standard rust gitignore
/target
Cargo.lock
**/*.rs.bk
